<span class="inline-flex rounded-md shadow-sm">
  <button
    ...attributes
    type="button"
    class="
    {{this.colorClassName}}
     inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white focus:outline-none transition ease-in-out duration-150
    "
  >
    {{@title}}
  </button>
</span>